#admin-users-table {
    border-collapse : collapse;
    margin: 30px;
}

#admin-users-table th {
    border : 1px black solid;
}

#admin-users-table td {
    padding : 6px 10px;
}

#admin-users-table td.admin-button-col {
    width : 175px;
    text-align : center;
}

#admin-users-table td.admin-title-col {
    width : 110px;
    text-align : center;
}

#admin-users-table td.admin-role-col {
    width : 60px;
    text-align : center;
}

#admin-users-table td.admin-title-col {
    min-width : 60px;
    text-align : center;
}

#admin-users-table th.admin-center-title {
    text-align : center;
}

