.cred-input-form-row {
    padding : 0.5rem;
}

.cred-input-form-row label {
    width : 150px;
    text-align : right;
    margin : 0 1rem;
}

.cred-input-button-row {
    padding : 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.cred-input-button-row input, .cred-input-button-row button {
    margin : 0 2rem;
    min-width : 90px;
}
