#org-selector, #dept-selector {
    min-width : 220px;
    margin : 0.5rem 1.2rem;
}

#add-access-button {
    width : 100px;
}

.admin-access-form-dept-col {
    width : 250px;    
}

.admin-access-form-button-col {
    width : 150px;    
}

.admin-access-form-OU-col {
    width : 250px;    
}

td.admin-access-form-OU-col, td.admin-access-form-dept-col, td.admin-access-form-button-column {
    padding : 0.5rem 0.5rem;
}


