table.simple-table {
    border-collapse : collapse;
    margin : 20px;
}

table.simple-table th, table.simple-table td {
    border : 1px grey solid;
    padding : 5px;
    min-width : 300px;
}

table.simple-table tbody tr.selected {
    background : lightsalmon;
}


table.simple-table tbody tr:hover {
    background : lightpink;
}
