/* Global styles will be placed in this file */
.centre-container {
    display : flex;
    flex-direction: column;
    position : absolute;
    top : 0;
    left : 0;
    height : 100vh;
    width : 100vw;
    justify-content : center;
    align-items : center;
}

.centre {
    text-align : center;
}

span.vertical-spacer {
    margin : 0 1rem;
}

.info-text {
    color : grey;
    font-style : italic;
}

.content-row {
    display : flex;
    flex-direction : row;
    height : 100vh;
    width : 100%;
}

.transparent-layer {
    position : absolute;
    top : 0;
    left : 0;
    height : 100vh;
    width : 100vw;
    background-color : rgb(13 13 13 / 0.6);
}

#input-window {
    background : white;
    padding : 30px;
    border : 3px blue solid;
}

div.side-by-side {
    display: flex;
    flex-direction : row;
    width : 100%;
}

div.right-right {
    width : 50%;
    text-align : right;
}

div.left-left {
    width: 50%;
    text-align : left;
}
